[Desktop Entry]
Comment=A dark neon bluish Global Theme for Plasma with transparency and rounded edges for UI elements
Name=Utterly Sweet
X-KDE-PluginInfo-Author=Himprakash Deka
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=himprakashd@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=Utterly-Sweet
X-KDE-PluginInfo-Version=1.5
X-KDE-PluginInfo-Website=www.himdek.com/Utterly-Sweet-Plasma
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://aurorae.knsrc/api.kde-look.org/1903823,kns://colorschemes.knsrc/api.kde-look.org/1906471,kns://icons.knsrc/api.kde-look.org/1425426,kns://kwineffect.knsrc/api.kde-look.org/1270407,kns://plasma-themes.knsrc/api.kde-look.org/1901768,kns://plasmoids.knsrc/api.kde-look.org/1819888,kns://plasmoids.knsrc/api.kde-look.org/1897990,kns://plasmoids.knsrc/api.kde-look.org/998895,kns://plasmoids.knsrc/api.kde-look.org/1906579,kns://plasmoids.knsrc/api.kde-look.org/1274218,kns://sddmtheme.knsrc/api.kde-look.org/1909598,kns://wallpaper.knsrc/api.kde-look.org/1906464,kns://xcursor.knsrc/api.kde-look.org/1393084